$myMessageBackColor: #8de055;
$messageColor: #555;
$otherMessageBackColor: #fff;
$backGroundColor: #7494c0;
$titleColor: #fff;

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    overflow: hidden;
    background-color: $backGroundColor;
    width: 100vw;
    position: relative;
    .content {
        margin-right: auto;
        margin-left: auto;
        height: 100vh;
        h1 {
            text-align: center;
            margin-top: 0;
            background: #273246;
            color: $titleColor;
        }
        #timeline {
            .others, .mine {
                margin: 30px 0;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                .says {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    padding: 17px 13px 15px 18px;
                    border-radius: 12px;
                    box-sizing: border-box;
                    margin: 0 !important;
                    line-height: 1.5;
                    p {
                        margin: 8px 0 0 !important;
                        &:first-child {
                            margin-top: 0 !important;
                        }
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        border: 10px solid transparent;
                    }
                }
            }
            .mine {
                justify-content: flex-end;
            }
            .others {
                margin-left: 30px;
                .says {
                    background: $otherMessageBackColor;
                    &:after {
                        left: -26px;
                        border-right: 22px solid #fff;
                    }
                }
            }
            .mine {
                margin-right: 30px;
                .says{
                    background: $myMessageBackColor;
                    &:after {
                        right: -26px;
                        border-left: 22px solid #8de055;
                    }
                }
            }

        }
        .inputArea {
            bottom: 0;
            position: absolute;
            width: 100%;
            background: #fff;
            display: flex;
            input {
                width: 80%;
                padding: 10px 15px;
                font-size: 16px;
                border-radius: 5px;
                border: 2px solid #555;
                box-sizing: border-box;

            }
            .sendButton {
                padding: 10px 15px;
                border: solid 1px #8de055;
                color: #fff;
                background: $myMessageBackColor;

            }
        }
    }
}